@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.PublishedContent

@{
    
    var imageUrl = Model.Value<IPublishedContent>("showcaseImage")?.MediaUrl();
    var buttons = Model.Value<IEnumerable<Link>>("showcaseButtons") ?? Enumerable.Empty<Link>();

}

<section class="showcase pt-5">
<div style="background: url(image/background-effects/background-lines.svg) no-repeat left bottom">

    <div class="container">
        <div class="row">
            <div class="col py-5 mb-5">
                <h1 class="h1 mt-5">@Model.Value("ShowcaseTitle")</h1>
                <p>@Model.Value("ShowcaseDescription")</p>
                <div class="pt-4 pb-5 mb-5">
                    
                    @{
                        var isFirst = true;
                        foreach (var button in buttons)
                            if (isFirst)
                            {
                                isFirst = false;
                                <a class="button-theme" href="@button.Url">@button.Name <i class="fa-solid fa-arrow-up-right"></i></a>
                            }
                            else
                            {
                                <a class="ms-4 button-theme secondary" href="@button.Url">@button.Name <i class="fa-solid fa-arrow-up-right"></i></a>
                            }
                    }

                </div>
            </div>
            <img class="d-none d-xxl-block" src="@imageUrl" alt="showcase-image"/>
        </div>
    </div>

</div>
</section>