@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Services
@inject IUserService UserService

@{

    var title = Model.Name;
    var content = Model.Value("newsContent");
    var imageUrl = Model.Value<IPublishedContent>("newsImage")?.MediaUrl();
    var date = Model.CreateDate;
    var name = Model.CreatorName(UserService);
    var category = Model.Value<string>("newsCategory");
    var tags = Model.Value<IEnumerable<string>>("newsTags") ?? Enumerable.Empty<string>();

}

<div class="article container my-5">

    <div class="row mb-5">

        <h1>@title</h1>
        <div class="d-flex flex-row">
            <p>@date.ToString("MMM dd, yyyy")</p>
            <p class="text-warning mx-4">•</p>
            <p>@category</p>
            <p class="text-warning mx-4">•</p>
            <p>@name</p>
        </div>

    </div>

    <div class="row">

        <div class="col me-5">

            <div class="image mb-4" style="background-image: url(@imageUrl)"></div>

            @content

            <div class="row w-auto mt-5 pt-3">
                @foreach (var tag in tags)
                {
                    <div class="col mb-5">
                        <a href="#" class="button-theme gray">@tag</a>
                    </div>
                }
            </div>

        </div>

        <div class="col ms-5">

            <input class="gray w-100" type="text" placeholder="🔎 Type to search..." />
            <div class="card p-5 my-4">

                <h4>Recent posts</h4>
                <div class="line horizontal black h-px2 w-px48 mb-4"></div>

                <div class="underline mb-3">
                    <h5>How to blow through capital at an incredible rate</h5>
                    <p class="text-muted">Jan 14, 2020</p>
                </div>

                <div class="underline mb-3">
                    <h5>Design Studios That Everyone Should Know About? </h5>
                    <p class="text-muted">Jan 14, 2020</p>
                </div>

                <div class="underline mb-3">
                    <h5>How did we get 1M+ visitors in 30 days without anything!</h5>
                    <p class="text-muted">Jan 14, 2020</p>
                </div>

                <div>
                    <h5>Figma On Figma: How We Built Our Website Design System</h5>
                    <p class="text-muted">Jan 14, 2020</p>
                </div>

            </div>

            <div class="card p-5">

                <h4>Categories</h4>
                <div class="line horizontal black h-px2 w-px48 mb-4"></div>

                <div class="d-flex flex-row py-1">
                    <h5 class="fw-bold">Technology - </h5>
                    <h5 class="text-muted fw-bold ms-2">20 posts</h5>
                </div>

                <div class="d-flex flex-row py-1">
                    <h5 class="fw-bold">Freelancing - </h5>
                    <h5 class="text-muted fw-bold ms-2">07 posts</h5>
                </div>

                <div class="d-flex flex-row py-1">
                    <h5 class="fw-bold">Writing - </h5>
                    <h5 class="text-muted fw-bold ms-2">16 posts</h5>
                </div>

                <div class="d-flex flex-row py-1">
                    <h5 class="fw-bold">Marketing - </h5>
                    <h5 class="text-muted fw-bold ms-2">11 posts</h5>
                </div>

                <div class="d-flex flex-row py-1">
                    <h5 class="fw-bold">Business - </h5>
                    <h5 class="text-muted fw-bold ms-2">35 posts</h5>
                </div>

                <div class="d-flex flex-row py-1">
                    <h5 class="fw-bold">Education - </h5>
                    <h5 class="text-muted fw-bold ms-2">14 posts</h5>
                </div>

            </div>

        </div>

    </div>

</div>