@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent

@{

    var description = Model.Root().Value<string>("footerDescription");

    var linkSections =
    (Model.Root().Value<IEnumerable<BlockListItem>>("footerLinks") ?? Enumerable.Empty<BlockListItem>()).
    Select(item =>
    (
    header: item.Content.Value<string>("header"),
    links: item.Content.Value<IEnumerable<Link>>("links") ?? Enumerable.Empty<Link>()
    ));

}

<footer>

    <section class="container d-flex py-5 px-0">

        <div class="col-4">
            <div class="row logo">
                <img src="~/image/website/logotype-white.svg" alt="" />
            </div>
            <div class="row mt-4">
                <p class="logo-text">@description</p>
            </div>
        </div>

        @foreach (var linkSection in linkSections)
        {
            <div class="col d-flex flex-column">
                <h4 class="mb-4">@linkSection.header</h4>
                @foreach (var link in linkSection.links)
                {
                    <a class="my-2" href="@link.Url">@link.Name</a>
                }
            </div>
        }

    </section>

    <div class="d-flex">
        <img class="wavy-lines ms-auto" src="image/background-effects/background-lines-white-right.svg" alt="" />
    </div>
    <div class="line horizontal"></div>

    <section class="container">
        <div class="row py-4">

            <div class="col m-0 p-0"> © @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</div>

            <div class="col-auto">
                @await Html.PartialAsync("_Socials")
            </div>

        </div>
    </section>

</footer>